body {
  margin: 0;
  padding: 0;
  background-color:  hsl(235, 21%, 11%);
  font-family: "Josefin Sans";
  display: flex;
  justify-content: center;
}
  #root {
    margin: 20px 24px;
    position: relative;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }



